shop/src/test/resources/datasets/db.dtd

<!ELEMENT dataset (
    KUNDE*,
    ADRESSE*,
    ARTIKEL*,
    BESTELLUNG*,
    BESTELLPOSITION*)>

<!ELEMENT KUNDE EMPTY>
<!ATTLIST KUNDE
    K_ID CDATA #REQUIRED
    NACHNAME CDATA #REQUIRED
    VORNAME CDATA #IMPLIED
    GESCHLECHT CDATA #IMPLIED
    EMAIL CDATA #REQUIRED
    PASSWORD CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT ADRESSE EMPTY>
<!ATTLIST ADRESSE
    A_ID CDATA #REQUIRED
    PLZ CDATA #REQUIRED
    ORT CDATA #REQUIRED
    STRASSE CDATA #IMPLIED
    HAUSNR CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
    KUNDE_FK CDATA #REQUIRED
>

<!ELEMENT ARTIKEL EMPTY>
<!ATTLIST ARTIKEL
    A_ID CDATA #REQUIRED
    BEZEICHNUNG CDATA #REQUIRED
    PREIS CDATA #IMPLIED
    VERFUEGBARKEIT CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG EMPTY>
<!ATTLIST BESTELLUNG
    B_ID CDATA #REQUIRED
    KUNDE_FK CDATA #REQUIRED
    IDX CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLPOSITION EMPTY>
<!ATTLIST BESTELLPOSITION
    BP_ID CDATA #REQUIRED
    BESTELLUNG_FK CDATA #REQUIRED
    ARTIKEL_FK CDATA #REQUIRED
    ANZAHL CDATA #REQUIRED
    IDX CDATA #IMPLIED
>

